.AllItems {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 1100px;
    background-color: aqua;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-left: 2px solid tan;
    border-right: 2px solid tan;
    position: relative;
}
.allitems-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}
.allitems-display {
    background-color: white;
    display: flex;
    height: 700px;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid tan;
    border-radius: 75px;    
    align-items: center;
    justify-content: center;
}
.allitems-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
    overflow-x: auto;
    gap: 277px;
      background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 68px;

}
.card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 140px;
}
.allitems-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cards-video {
    display: flex;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: 20px;
    border: 4px solid tan;
    overflow: hidden;
}
.cards-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 50%;
}
.cards-purchase {
    display: flex;
    width: 1104px;
    height: 500px;
    border-radius: 25px;
    margin: 20px;
    border: 4px solid tan;
    object-fit: cover;
    overflow: hidden;
}
.cards-purchase-images {
    flex: 1;
    display: flex;
    gap: 10px;
    padding: 10px;
}
.cards-purchase-images.row {
    flex-wrap: nowrap;
    overflow: hidden;
    display: flex;
    overflow-x: auto;
    justify-content: space-evenly;
    padding-right: 0px;
}
.cards-purchase-images.scroll {
    flex-direction: column;
    overflow-y: auto;
}
.cards-purchase-img {
  
    object-fit: cover;
    border-radius: 12px;
    border: 4px solid tan;
}
.cards-purchase-info {
    width: 260px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* inline name/price */
    font-weight: 600;
    gap:16px;
    margin-right: 23px;;
}
.modelNamePrice {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid tan ;

}
.model-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.model-price {
    color: tan;
}
.add-to-cart {
    border: 1px solid tan;
    border-radius: 25px;
    color:white;
    background-color: black;
    padding: 2px;
    width: 90px;;
}