.marketplace {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 956px;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    gap: 15px;
   background-repeat: no-repeat;
  background-position: center;
  background-size: contain; /
}
.product {
    /* conteneur de chaque produit */
    margin: 10px;
}
.product-card {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 200px;
    background-color: blue;
}
.product-info {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    gap: 10px;
    align-items: flex-start;
}
.product-image {
    width: 400px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    overflow: hidden; /* masque l'image dans le rayon */
}
.product-img {
    width: 400px;
    height: 200px;
    object-fit: cover;
    display: block;
}
/* container .product déjà défini plus haut avec margin */